<meta charset="UTF-8">
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="apple-touch-fullscreen">
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no"/>
<link rel="stylesheet" type="text/css" href="http://cdn.weiyunmei.cn/css/amazeui/css/app.css"/>
<link rel="stylesheet" type="text/css" href="http://cdn.weiyunmei.cn/css/amazeui/css/amazeui.min.css"/>
<link rel="stylesheet" type="text/css" href="{{config.url}}/css/global.css"/>
<link rel="stylesheet" type="text/css" href="{{config.url}}/css/style.css"/>
<script type="text/javascript">
  var $_server = '{{config.url}}';
</script>

<script type="text/javascript" src="http://cdn.weiyunmei.cn/js/jquery.1.11.1/dist/jquery.min.js"></script>
<script type="text/javascript" src="http://cdn.weiyunmei.cn/js/art-template/template.js"></script>
<script type="text/javascript">
  template.config('openTag',"${");
  template.config('closeTag',"}");
</script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="{{config.url}}/js/wechat_js.js"></script>

<script type="text/javascript" src="http://cdn.weiyunmei.cn/js/plugins/WebUtils.js"></script>
<script type="text/javascript" src="{{config.url}}/js/common.js"></script>
