<!DOCTYPE html>
<html lang="en">
<head>
    <title>我的收益</title>
    {{include './include/common_header'}}
</head>
<body style="">
  <div class="main">
      <div class="content" id="my_income_content">
        
      </div>
  </div>
  <script type="text/template" id="my_income_template">
    <div data-am-widget="intro" class="am-intro am-cf am-intro-default " style="">
          <div class="am-g am-intro-bd" style="padding-bottom: 0px;">
            <div class=" am-u-sm-12">
               <div class="list_title">
                  <div style="font-weight: bold;position:absolute;left:13px;top:0px;color:#000000;z-index: 3;">您累计收获奖励：${data.consumesCount |moneyFormat}</div>
                  <div id="charts"></div>
                </div>
            </div>
          </div>
        </div>
        <div data-am-widget="intro" class="am-intro am-cf am-intro-default down_p">
          <div class="am-g am-intro-bd" style="padding-top: 0px;">
            <div class=" am-u-sm-12">
              <p>完成了<span class="red">${data.advs}</span>个任务，获得了<span class="red">${data.advmoney | moneyFormat}</span>元的奖金</p>
              <p>邀请了<span class="red">${data.childs}</span>个小伙伴加入，奖金<span class="red">${data.childMoney | moneyFormat}</span>元</p>
              <p>并且，<span class="red">${data.fans}</span>位小伙伴已经持续为您贡献了<span class="red">${data.fansMoney | moneyFormat}</span>元的粉丝奖励</p>
            </div>
          </div>
        </div>
        <div class="line_height"></div>
        <div data-am-widget="intro" class="am-intro am-cf am-intro-default  down_p">
          <div class="list_title_line">
             <div>您可能感兴趣的</div>
          </div>
            <div data-am-widget="list_news" class="am-list-news ">
        <!--列表标题-->
            <div class="am-list-news-bd">
                <ul class="am-list">
                   <!--缩略图在标题左边-->
                    <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left am-text-middle am-u-sm-12">
                        <p>您的任务收益占比${data.advsP | biliFormat}%，建议您继续关注，完成任务获得更多收益。<a href="" class="red">去完成任务</a></p>
                         <p>邀请奖金占比${data.childsP | biliFormat}%，继续邀请小伙伴赚取邀请奖励。<a href="" class="red">立即邀请</a></p>
                        <p>粉丝任务贡献占比${data.fansP | biliFormat}%，你的粉丝忠诚度较低，建议多多沟通。或者继续邀请更多的小伙伴加入，扩展自己的收益来源。</p>
                    </li>

                  </ul>
              </div>
            </div>
        </div>
  </script>
  <script type="text/javascript" src="http://cdn.weiyunmei.cn/js/highcharts/highcharts.js"></script>
  <script type="text/javascript" src="{{config.url}}/js/business/my_income.js"></script>
</body>
</html>
