<!DOCTYPE html>
<html lang="en">
<head>
    <title>任务列表</title>
    {{include './include/common_header'}}
</head>
<body>
  <header data-am-widget="header" class="am-header">
    <div class="am-header-left am-header-nav">
        <a href="#left-link" class="">
          <i class="am-header-icon am-icon-chevron-left"></i>
        </a>
    </div>

    <h1 class="am-header-title">
       任务列表
    </h1>
  </header>
  <div class="main">
      <div class="content">
            <div data-am-widget="list_news" class="am-list-news " >
            <!--列表标题-->
                <div class="am-list-news-bd">
                    <ul class="am-list">
                       <!--缩略图在标题左边-->
                        <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left am-text-middle">
                            <div class="am-u-sm-3 am-list-thumb">
                                <img src="images/icon_1.png" alt="logo" class="logo"/>
                            </div>
                            <div class=" am-u-sm-6 am-list-main" >
                                <h3 class="am-list-item-hd"><a href="" class="title">优步</a></h3>
                                <div class="am-list-item-text green">优步打车20元优惠</div>
                                <div class="am-list-item-text gray"> <span class="border_radius fenxiang">分享</span> 剩余金额2666元</div>
                            </div>
                            <span class="am-u-sm-3 am-list-news-more am-fr money gray">已结束</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="line_height"></div>
            <div data-am-widget="intro" class="am-intro am-cf am-intro-default">
                555
            </div>
            <div class="line_height"></div>
            <div data-am-widget="intro" class="am-intro am-cf am-intro-default task_txt" style="padding-top:0" >
              <div class="list_title_line">
                 <div>您可能感兴趣的</div>
              </div>
                <div data-am-widget="list_news" class="am-list-news ">
            <!--列表标题-->
                <div class="am-list-news-bd">
                    <ul class="am-list">
                       <!--缩略图在标题左边-->
                        <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left am-text-middle">
                            <div class="am-u-sm-3 am-list-thumb">
                                <img src="images/icon_1.png" alt="logo" class="logo"/>
                            </div>
                            <div class=" am-u-sm-6 am-list-main" >
                                <h3 class="am-list-item-hd"><a href="" class="title">优步</a></h3>
                                <div class="am-list-item-text green">优步打车20元优惠</div>
                                <div class="am-list-item-text gray"> <span class="border_radius fenxiang">分享</span> 剩余金额2666元</div>
                            </div>
                            <span class="am-u-sm-3 am-list-news-more am-fr money green">￥3.5 <i class="am-header-icon am-icon-chevron-right gray"></i></span>
                        </li>
                       <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left am-text-middle">
                            <div class="am-u-sm-3 am-list-thumb">
                                <img src="images/icon_2.png" alt="logo" class="logo" />
                            </div>
                            <div class=" am-u-sm-6 am-list-main" >
                                <h3 class="am-list-item-hd"><a href="" class="title">优步</a></h3>
                                <div class="am-list-item-text green">优步打车20元优惠</div>
                                <div class="am-list-item-text gray"> <span class="border_radius fenxiang">分享</span> 剩余金额2666元</div>
                            </div>
                            <span class="am-u-sm-3 am-list-news-more am-fr money green">￥3.5 <i class="am-header-icon am-icon-chevron-right gray"></i></span>
                        </li>
                      </ul>
                  </div>
                </div>
            </div>
       </div>
  </div>
</body>
</html>
