<!DOCTYPE html>
<html lang="en">
<head>
    <title>保存成功</title>
    {{include './include/common_header'}}
</head>
<body class="body_line_height">
     <header data-am-widget="header" class="am-header am_header_bline">
      <div class="am-header-left am-header-nav">
          <a href="#left-link" class="">
            <i class="am-header-icon am-icon-chevron-left"></i>
          </a>
      </div>
      <h1 class="am-header-title">
         保存成功
      </h1>
  </header>
  <div class="main">
      <div class="content">
          <div data-am-widget="intro" class="am-intro am-cf am-intro-default" >
             <div class="am-g am-intro-bd">
               <div class=" am-u-sm-12" style="text-align:center;margin-top:20px;">
                    <i class="am-header-icon am-icon-check-circle correct "  aria-hidden="true"></i>
                    <p class="correct_p">保存成功</p>
                </div>
             </div>
            <div class="am-g am-intro-bd">
              <div class=" am-u-sm-12">
                <p class="gray2_txt">提示：图片已经自动保存到您的相册，分享之后好友扫描图片二维码进入页面，您将立刻享受到收益，请分享成功后上传分享截图</p>
              </div>
            </div>
          </div>
            <div class="am-intro-more-bottom  am-u-sm-12">
              <a class="am-btn am-btn-default btn btn_save"  href="">确定</a>
            </div>
       </div>
  </div>
</body>
</html>
