<!DOCTYPE html>
<html lang="en">
<head>
    <title>任务列表</title>
    {{include './include/common_header'}}
</head>
<body>
  <div class="main">
      <div class="content">
            <div data-am-widget="list_news" class="am-list-news " >
            <!--列表标题-->
                <div class="am-list-news-bd">
                    <ul class="am-list" id="task_list_container">

                    </ul>
                    <a id="next_page" href="javascript:void(0)"> 更多>>> </a>
                </div>
            </div>
       </div>
  </div>


  <script type="text/tempalte" id="tempalte">
    ${each data}
    <li id="${$value.id}" class="task_item am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left am-text-middle">
        <div class="am-u-sm-3 am-list-thumb">
            <img src="{{config.file_server}}/view/${$value.icon}.do" alt="logo" class="logo"/>
        </div>
        <div class=" am-u-sm-6 am-list-main" >
            <h3 class="am-list-item-hd am-text-truncate"><a href="javascript:void(0)" class="title">${$value.title}</a></h3>
            <div class="am-list-item-text green am-text-truncate">${$value.simpleDescript}</div>
            <div class="am-list-item-text gray">
            ${if $value.type.code=="fen_xiang"}
            <span class="border_radius fenxiang">分享</span>
            ${else if $value.type.code=="xia_zai"}
            <span class="border_radius xiazai">下载</span>
            ${else if $value.type.code=="guan_zhu"}
            <span class="border_radius 关注">关注</span>
            ${/if}
            剩余${$value.surplusMoney | moneyFormat}元</div>
        </div>
        <span class="am-u-sm-3 am-list-news-more am-fr money green">￥${$value.money | moneyFormat}</span>
    </li>
    ${/each}
  </script>

  <script type="text/javascript" src="{{config.url}}/js/business/task_list.js"></script>
</body>
</html>
