<!DOCTYPE html>
<html lang="en">
<head>
    <title>绑定-微云媒</title>
    {{include './include/common_header'}}
</head>
<body class="body_line_height">
  <div class="main">
      <div class="content">
        <form class="am-form am-form-horizontal border_none">
          <div class="am-form-group">
            <label for="doc-ipt-3" class="am-u-sm-3 am-form-label">手机号</label>
            <div class="am-u-sm-9">
              <input type="text" id="phone" placeholder="输入你的手机号码">
            </div>
          </div>
          <div class="am-intro-more-bottom  am-u-sm-12">
            <a class="am-btn am-btn-default btn btn_save" id="next"  href="javascript:void(0)">下一步</a>
          </div>
        </form>
         </div>

       </div>
  </div>
  <script type="text/javascript" src="{{config.url}}/js/business/bind_phone.js"></script>
</body>
</html>
