<!DOCTYPE html>
<html lang="en">
<head>
    <title>我的收益</title>
    {{include './include/common_header'}}
</head>
<body style="">
     <header data-am-widget="header" class="am-header am_header_bline" style="">
      <div class="am-header-left am-header-nav">
          <a href="#left-link" class="">
            <i class="am-header-icon am-icon-chevron-left"></i>
          </a>
      </div>
      <h1 class="am-header-title">
         我的收益
      </h1>
  </header>
  <div class="main">
      <div class="content">
        <div data-am-widget="intro" class="am-intro am-cf am-intro-default " >
          <div class="am-g am-intro-bd">
            <div class=" am-u-sm-12">
               <div class="list_title">
                  <div>您可能感兴趣的</div>
                </div>
            </div>
          </div>
        </div>
        <div data-am-widget="intro" class="am-intro am-cf am-intro-default down_p">
          <div class="am-g am-intro-bd">
            <div class=" am-u-sm-12">
              <p>完成了<span class="red">22</span>个任务，获得了<span class="red">3000</span>元的奖金</p>
              <p>邀请了<span class="red">33</span>个小伙伴加入，奖金<span class="red">66</span>元</p>
              <p>并且，<span class="red">33</span>位小伙伴已经持续为您贡献了<span class="red">200</span>元的粉丝奖励</p>
            </div>
          </div>
        </div>
        <div class="line_height"></div>
        <div data-am-widget="intro" class="am-intro am-cf am-intro-default  down_p">
          <div class="list_title_line">
             <div>您可能感兴趣的</div>
          </div>
            <div data-am-widget="list_news" class="am-list-news ">
        <!--列表标题-->
            <div class="am-list-news-bd">
                <ul class="am-list">
                   <!--缩略图在标题左边-->
                    <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left am-text-middle am-u-sm-12">
                        <p>您的收益奖金占比50%，建议您继续关注，完成任务获得更多收益。<a href="" class="red">去完成任务</a></p>
                         <p>邀请奖金占比30%，继续邀请小伙伴赚取邀请奖励。<a href="" class="red">立即邀请</a></p>
                        <p>粉丝任务贡献占比20%，你的粉丝忠诚度较低，建议多多沟通。或者继续邀请更多的小伙伴加入，扩展自己的收益来源。</p>
                    </li>

                  </ul>
              </div>
            </div>
        </div>
      </div>
  </div>
</body>
</html>
